/* Alignment styles */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 5px solid green; */
}

.container {
  margin: 25%;
  /* border: 5px solid red; */
}
