---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class=""
  >
    <Header title={SITE_TITLE} />
    <main>
      <h1 class="">Hello, Guys! 👋</h1>
      <p>My Name is Muhammad <b>Adithya</b></p>
      <p>
        I'm a computer science student, full-stack web (focusing on Back-end) &
        mobile apps developer.
      </p>
      <p>
        <i>One year plus of experience in Backend</i> using Laravel and MySql
      </p>
      <p>some things I'm learning right now :</p>
      <p>
        <code class="">
          "Web Development", "level": "Intermediate", "stack": ["HTML", "CSS",
          "JavaScript", "PHP"],
        </code>
        <hr />
        <code class="">
          ["Bootsrtap", "JQuery", "ReactJs"], "Framework": [ "Codeigniter 3",
          "Laravel", "NextJs", ]
        </code>
        <hr />
        <code class="">
          "Name": "Mobile Development", "level": "Beginner", "stack":
          ["Flutter", "React Native"]
        </code>
        <hr />
        <code class="">
          "Tools": [ "Database": "MySQL", "Design": ["Draw.io","Figma"], ]
        </code>
      </p>
    </main>
    <Footer />
  </body>
</html>
