---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import MyComponent from "../components/MyComponent";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header title={SITE_TITLE} />
    <main>
      <MyComponent client:load />
    </main>
  </body>
</html>
